asgiref==3.8.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
comtypes==1.4.5
cryptography==42.0.8
defusedxml==0.8.0rc2
distlib==0.3.8
dj-rest-auth==6.0.0
django-allauth==0.61.1
django-cors-headers==3.13.0
django-environ==0.11.2
Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
filelock==3.13.3
idna==3.7
jmunja==0.0.4
mysqlclient==2.2.4
oauthlib==3.2.2
pillow==10.3.0
pipenv==2023.12.1
platformdirs==4.2.0
pycparser==2.22
PyAudio==0.2.14
PyJWT==2.8.0
python-dotenv==1.0.1
python3-openid==3.2.0
pypiwin32==223
pyttsx3==2.90
pywin32==306
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==69.2.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
SpeechRecognition==3.10.4
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.25.1
python-dotenv==1.0.1
openai==0.28.0
SpeechRecognition==3.10.4
pyttsx3==2.90